---
import { Icon } from "astro-icon/components"
import ShadeAdjuster from "./ShadeAdjuster.astro"
import type { ColorSpaceTypes, ShadeOptions } from "@utils/colors"

type Props = {
	id: "1" | "2"
	csType: "tw" | "cs" | "pcs" | "rcs"
	title: string
	subTitle?: string
	defaultCs?: ColorSpaceTypes
	colorOptions?: ShadeOptions
}
const { id, csType, title, subTitle, defaultCs, colorOptions } = Astro.props
---

{
	id === "1" && (
		<div
			class:list={[
				"mb-1 border-b border-neutral-300 pb-2 text-center dark:border-neutral-600",
				{ "col-span-2": csType !== "tw" }
			]}>
			<div class="font-bold">{title}</div>
			{subTitle && <div class="text-sm">{subTitle}</div>}
		</div>
	)
}
<div data-cs-type={csType ? csType : null} class="row-span-6 grid grid-rows-subgrid gap-1">
	<select
		id=`select_${csType}_${id}`
		class="border border-neutral-300 bg-white py-1.5 text-sm outline-none focus:border-users-500 focus:ring-users-500 lg:text-base dark:border-neutral-600 dark:bg-neutral-800"
		aria-label=`select a ${title}`>
		<slot name="csOptions" />
	</select>
	{
		csType === "pcs" && (
			<select
				id={`select_${csType}_${id}_him`}
				class="border border-neutral-300 bg-white py-1.5 text-sm outline-none focus:border-users-500 focus:ring-users-500 lg:text-base dark:border-neutral-600 dark:bg-neutral-800"
				aria-label="select a hue interpolation method">
				<slot name="himOptions" />
			</select>
		)
	}
	{
		csType !== "tw" && (
			<ShadeAdjuster
				class="row-start-3"
				cs={defaultCs!}
				id={`${csType}_${id}`}
				mode="light"
				min={colorOptions!.light.min}
				max={colorOptions!.light.max}
				value={colorOptions!.light.step}
			/>
		)
	}
	<ul id=`ul_${csType}_${id}` class="row-start-4 flex flex-col gap-1">
		<slot name="shadeItems" />
	</ul>
	{
		csType !== "tw" && (
			<ShadeAdjuster
				class="row-start-5"
				cs={defaultCs!}
				id={`${csType}_${id}`}
				mode="dark"
				min={colorOptions!.dark.min}
				max={colorOptions!.dark.max}
				value={colorOptions!.dark.step}
			/>
		)
	}
	{
		csType !== "tw" && (
			<label
				class="row-start-6 mx-2 flex cursor-pointer items-center justify-center gap-2 rounded-sm border-2 border-users-500 py-1 shadow hover:shadow-lg"
				title="Copy this color space to your palette">
				<input
					id={`rdo_palette_${csType}_${id}`}
					class="peer hidden"
					type="radio"
					name="rdo_palette"
					value={defaultCs}
				/>
				<>
					<Icon
						class="size-6 text-users-500 peer-checked:hidden lg:size-8"
						name="mdi:palette-outline"
						aria-hidden="true"
					/>
					<span class="inline-block text-sm font-medium text-black peer-checked:hidden lg:text-base dark:text-white">
						Copy
					</span>
				</>
				<>
					<Icon
						class="hidden size-6 text-users-500 peer-checked:block lg:size-8"
						name="mdi:palette"
						aria-hidden="true"
					/>
					<span class="hidden text-sm font-medium text-black peer-checked:block lg:text-base dark:text-white">
						Copied!
					</span>
				</>
			</label>
		)
	}
</div>
